beautifulsoup4==4.12.3
jieba==0.42.1
layoutparser==0.0.0
matplotlib==3.9.0
numpy==2.0.0
openai==1.35.7
opencv_contrib_python==4.6.0.66
opencv_python==4.6.0.66
opencv_python_headless==4.10.0.84
paddleocr==2.7.3
paddleocr.egg==info
pandas==1.5.3
pdfplumber==0.11.1
PyMySQL==1.1.1
PyPDF2==2.10.5
PyQt5==5.15.10
PyQt5_sip==12.13.0
PyYAML==6.0.1
Requests==2.32.3
tqdm==4.66.4
